body{
    background-color: bisque;
}
a{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    border: dashed;
    width: 3%;
    padding: 0.1%;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 70px;
    margin: auto;
}
u{
    color: orangered;
}
#Title{
    color: brown;
}
.outer-border{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: dotted thick black;
    width: 700px;
    height: 700px;
}
.inner-border{
    display: flex;
    margin: auto;
    border: dashed thick orangered;
    width: 350px;
    height: 350px;
}
#die{
    display: flex;
    margin: auto;
    justify-content: center;
}
.text-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;    
}
#score{
    color: brown;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}