body{
    background-color: bisque;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 70px;
    margin: auto;
}

.container{
    display: flex;
}
.outer-border{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 33%;
    justify-content: center;
    align-items: center;
    border: solid thick black;
    width: 700px;
    height: 700px;
}
.inner-border{
    display: flex;
    margin: auto;
    border: solid thin orangered;
    width: 350px;
    height: 350px;
}
.text-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}

#die{
    display: flex;
    margin: auto;
    justify-content: center;
}

.p2-outer-border{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 33%;
    justify-content: center;
    align-items: center;
    border: solid thick black;
    width: 700px;
    height: 700px;
}
.p2-inner-border{
    display: flex;
    margin: auto;
    border: solid thin orangered;
    width: 350px;
    height: 350px;
}
.p2-text-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

#p2-die{
    display: flex;
    margin: auto;
    justify-content: center;
}

.newgame{
    margin: auto;
}
#newgame{
    padding: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

@media (max-width: 480px) {
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        font-size: 20px;
    }
    h2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 10%;
    }
    .newgame{
        display: flex;
        margin-top: 30%;
        flex-direction: column;
    }
    #newgame{
        padding: 20%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 800;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .outer-border{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 33%;
        justify-content: center;
        align-items: center;
        border: solid thick black;
        width: 200px;
        height: 200px;
    }
    .inner-border{
        display: flex;
        margin-top: 150px;
        padding: 10%;
        border: solid thin orangered;
        width: 100px;
        height: 100px;
    }
    #diceImage{
        width: 50px;
        height: 50px;
    }
    #button{
        margin-top: 5%;
    }
    #p2-button{
        margin-top: 5%;
    }
    .p2-outer-border{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 33%;
        justify-content: center;
        align-items: center;
        border: solid thick black;
        width: 200px;
        height: 200px;
    }
    .p2-inner-border{
        display: flex;
        margin-top: 75%;
        padding: 10%;
        border: solid thin orangered;
        width: 100px;
        height: 100px;
    }
    #p2-diceImage{
        width: 50px;
        height: 50px;
    }
}